@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-color: #f5f6f1;
    --accent-color: #6c8c9f;
    --icon-color: #747c90;
    --yellow-color: #fcc726;
    --dark-color: #186bac;

}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: var(--primary-color);
}

.header-section {
    position: absolute;
    width: 100%;
    height: 12vh;
    background: var(--primary-color);
    box-shadow: 1px 5px 10px var(--icon-color) !important;
}

.title,
.icon {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    font-size: 28px;
    color: #333;
    font-weight: bolder;
}

.icon {
    font-size: 24px;
    color: var(--dark-color);
    left: 85%;
}

aside {
    position: fixed;
    top: 12vh;
    width: 18%;
    height: 100%;
    background: var(--icon-color);
    color: var(--primary-color);
    z-index: -1;
}

ul {
    margin-top: 20px !important;
}

li {
    margin: 5px 0px !important;
    padding: 10px !important;
    font-size: 18px;
    font-weight: 600;
    padding-left: 40px !important;
    transition: 0.25s ease;
}

li:hover {
    padding-left: 55px !important;
    background: var(--primary-color);
    color: var(--dark-color);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    outline: none;
}

li>i {
    font-size: 20px !important;
    margin-right: 10px !important;
}

.box {
    margin: 20px !important;
    padding: 20px 50px !important;
    position: absolute;
    top: 12%;
    left: 58%;
    transform: translateX(-50%);
    width: 78%;
    height: 82vh;
    overflow: scroll;
}

.box h4 {
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-color);
    text-transform: uppercase;
    margin-bottom: 10px !important;
}

.box input {
    height: 40px;
    width: 70% !important;
    font-weight: 600;
    color: #333;
    padding: 15px !important;
}

.box textarea {
    height: 100px;
    width: 70% !important;
    font-weight: 400;
    padding: 15px !important;
}

form div label {
    font-weight: 600;
    font-size: 16px;
}

button {
    height: 50px;
    border-radius: 40px;
    background: var(--dark-color);
    color: var(--primary-color);
    border: 2px solid var(--dark-color);
    width: 150px;
    margin-top: 10px !important;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.25s ease-in;
}

button:hover {
    font-weight: bold;
    background: none !important;
    color: var(--dark-color) !important;
    border: 2px solid var(--yellow-color) !important;

}

/*Under Construction */

#image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40% !important;
    margin: auto auto;
}

.const-contents {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 28px;
    margin-top: 10px !important;
    transform: translateX(-50%);
    align-items: center;
}

.const-contents span {
    font-size: 54px;
    font-weight: bolder;
    color: var(--dark-color);
    text-align: center;
    transform: translateX(-50%);
}

/*Applied*/
.box {
    padding: 30px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    margin-top: 20px !important;
    font-size: 16px;
}

table:hover {
    cursor: pointer;
}

th {
    padding: 10px !important;
}

th:hover {
    cursor: pointer;
}

td {
    padding: 10px !important;
    margin-top: 10px !important;
    border-bottom: 2px solid var(--accent-color);
}

td:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
  width:5px;
}

/* scroll */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--icon-color); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color); 
}