@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --primary-color: #f5f6f1;
    --accent-color: #6c8c9f;
    --icon-color: #747c90;
    --yellow-color: #fcc726;
    --dark-color: #186bac;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    overflow-y: hidden;
    z-index: 0;
}

.container {
    z-index: 2;
}

.box {
    position: relative;
    width: 45vw;
    height: 620px;
    margin-top: 80px;
    right: 20px;
    border-radius: 50px;
    background: #f5f6f1;
    border-radius: 39px;
    background: linear-gradient(145deg, #ffffff, #ddddd9);
    box-shadow: 7px 7px 28px #9fa09d,
        -7px -7px 28px #ffffff;
    padding: 20px 60px;
}

h2 {
    color: var(--dark-color);
    text-align: center;
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}

p {
    margin: 0 !important;
    padding: 0 !important;

}

h2>span {
    color: var(--yellow-color);
    margin-left: 2px;
}

h4 {
    font-weight: bolder;
    color: #444;
    margin: 0px !important;
    padding: 0px !important;
}

p {
    margin: 0px !important;
    padding: 0px !important;
}

hr {
    margin: 3px 0px !important;
    padding: 0px !important;
}

form {
    position: relative;
    margin-top: -5px;
}

form div {
    margin-bottom: 5px !important;
    margin-top: 0px;
}

.m-t {
    margin-top: -35px !important;
}

.m-0 {
    margin-top: -5px !important;
    margin-bottom: 10px !important;
}


#last {
    margin-left: 10px !important;
}

img {
    position: absolute;
    transform: scale(0.65);
    right: -8%;
    filter: drop-shadow(1px 10px 2px #aaa);
    animation-name: move;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

button {
    height: 50px;
    border-radius: 40px;
    background: var(--dark-color);
    color: var(--primary-color);
    border: 2px solid var(--dark-color);
    width: 150px;
    font-weight: 600;
    margin-right: 10px;
    transition: 0.25s ease-in;
}

button:hover {
    background: none !important;
    color: var(--dark-color) !important;
    font-weight:bold;
    border: 2px solid var(--yellow-color) !important;

}

.foot {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline dotted !important;
}
.banner {
    margin-right: 90px;
    margin-top: 100px;
}
@keyframes move {
    0% {
        top: 0;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background: #fff;
        position: relative;
        overflow-y: hidden;
        z-index: -2;

    }

    .box {
        margin: 10px 10px;
        padding: 20px 10px;
        width: 98%;
        height: 100%;
        box-shadow: none;
        background: none;
    }

    form {
        z-index: 10;
        background: none;
    }

    .mob {
        position: relative;
        left: 0px;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left !important;
        display: flex;
        flex-direction: column !important;
        margin-left: -20%;

    }

    .mm-t {
        margin-top: -10px !important;
    }

    input[type='text'],
    input[type='password'] {
        background: rgba(255, 255, 255, 0.5);
        width: 210% !important;
    }

    .mobe {
        position: relative;
        left: 8%;
    }

    input[type='email'] {
        width: 93% !important;
        background: rgba(255, 255, 255, 0.5);
    }

    #last {
        margin: 0px !important;
    }

    img {
        z-index: -1;
        margin-top: 180px;
        padding: 0;
        top: 50px;
        right: -80%;
        opacity: 0.15;
    }

    #passwordHelpBlock {
        position: relative !important;
        left: 12% !important;
        width: 90%;
    }

    #mobile {
        display: none;
    }

    .form-check {
        position: relative;
        left: 8%;
    }

    button {
        position: relative;
        left: 8%;
    }

    h4,
    p {
        position: relative;
        left: 3%;

    }

    #size {
        margin-right: 6%;
    }

    .foot {
        position: relative;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }
    .banner-user {
        width: 200%;
        left: -220px;
        margin-top: 350px;
    }

}